
.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
}

.about-image-container {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about-image-container:hover .image-overlay {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .sidebar {
    height: auto;
    position: static;
  }
  
  main {
    margin-top: 20px;
  }
}